.comment{
    margin-left: 50px;
}

.comment h3{
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.comment-img{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.comment-img img{
    width: 10%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.comment-img h3{
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

.comment form{
    margin-top: 20px;
}

.comment form textarea{
    width: 100%;
    padding-bottom: 50px;
}

.comment button{
    background-color: #00A2DC;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;  
    margin-top: 7px; 
    border: 1px solid #00A2DC;
    border-radius: 5px;
    cursor: pointer;
}

.comment-with-added {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.comment-with-added img {
    width: 40px;
    height: 40px;
}