<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Decode blog</title>
</head>
<body>
    <%-include('partials/headerProfile.ejs')%>

    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="newBlog">
                    <h2>Мои блоги</h2>
                    <a href="">Новый блог</a>
                </div>
                <div class="main-card">
                    <div class="main-info">
                        <div class="main-img">
                            <img src="/images/main1.jpg" alt="">
                        </div>
                        <div class="button-more">
                            <h3>Обзор Report Manager от Webix</h3>
                            <i class="fa-solid fa-ellipsis-vertical">Еще</i>
                            <div class="options">
                                <a href="#">Редактировать</a>
                                <button class="delete">Удалить</button>
                            </div>
                        </div>
                        <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                        <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с
                            двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно
                             говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом
                              виджете Вы можете найти в статье. </p>
                        <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>      
                    </div>
                    <div class="main-icons">
                        <div class="main-icons-text">
                            <img src="/images/icons/calendar.jpg" alt="">
                            26.06.2020
                        </div>
                        <div class="main-icons-text">
                            <img src="/images/icons/eye.jpg" alt="">
                            21
                        </div>
                        <div class="main-icons-text">
                            <img src="/images/icons/shape.jpg" alt="">
                            4
                        </div>
                        <div class="main-icons-text">
                            <i class="fa-sharp fa-solid fa-message" style="color: #757575;"></i>
                            Веб-разработка
                        </div>
                        <div class="main-icons-text">
                            <img src="/images/icons/vector.jpg" alt="">
                            Nast1289
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="main-card">
                    <div class="main-info">
                        <div class="main-img">
                            <img src="/images/main2.jpg" alt="">
                        </div>
                        <h3>Разработчики изобрели методологию высокоскоростного программирования</h3>
                        <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                        <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с
                            двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно
                             говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом
                              виджете Вы можете найти в статье. </p>
                        <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>      
                    </div>
                    <div class="main-icons">
                        <div class="main-icons-text">
                            <img src="/images/icons/calendar.jpg" alt="">
                            26.06.2020
                        </div>
                        <div class="main-icons-text">
                            <img src="/images/icons/eye.jpg" alt="">
                            21
                        </div>
                        <div class="main-icons-text">
                            <img src="/images/icons/shape.jpg" alt="">
                            4
                        </div>
                        <div class="main-icons-text">
                            <i class="fa-sharp fa-solid fa-message" style="color: #757575;"></i>
                            Веб-разработка
                        </div>
                        <div class="main-icons-text">
                            <img src="/images/icons/vector.jpg" alt="">
                            Nast1289
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="categories">
            <div class="categories-text">
                <img src="/images/profile.jpg" alt="">
                <p><%=user.full_name%>></p>
                <p>В основном пишу про веб - разработку, на React & Redux</p>
                <p>285 постов за все время</p>
                <a href="">Редактировать</a>
            </div>
        </div>
    </div>
    <script src="/profile.js"></script>
</body>
</html>